<% unless action_name == 'edit' %>
  <div class="dk_container dk_shown">
    <a class="keep">
      <span class="dk_label">Copy Deck</span>
    </a>
    <div class="keepOptions">
      <ul class="keepOptions_inner">
        <% if current_user %>
          <li class="">
            <%= link_to "Make me a copy of this deck!", copy_deck_path(deck), method: :post %>
          </li>
        <% else %>
          <li><a href="/decks/new/" data-dk-dropdown-value="1">Log In To Copy Deck?</a></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>