<div class="topFooter">
      <div class="centerDivMobile">
        <div class="footColMobile">
          <a href="/decks/new" class="btn btn-large btn-block creatDeck">Create a Deck</a>
        </div>
        <div class="footColMobile">
          <a href="/" class="footLogoMobile"></a>
        </div>  
      </div>
    </div>
    <footer>
      <div class="centerDiv">
        <ul class="footMenu">
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/terms">Ts & Cs</a></li>
        </ul>
        <p class="copyrights"> &copy; Copyrights 2013 all copyrights reserved - Travel Poker </p>
        <div class="footerSocial">
            <a href="http://www.facebook.com/sharer.php?s=100&p[title]=TravelPoker&p[summary]=Inspired Travel&p[url]=www.travelpoker.co&p[images[0]=http://www.travelpoker.co/assets/homepage1.png" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" ><img src="/assets/facebookMobile.png"></a>
            <a href="http://twitter.com/share?url=http%3A%2F%2Fwww.travelpoker.co&text=Inspired%20Travel&media=https://lh6.googleusercontent.com/-zhmCkumDcYM/UoUnpfq7YvI/AAAAAAAABPk/VZbRePfm6rk/w190-h90-no/logo.png" target="_blank" onclick="return !window.open(this.href, 'Twitter', 'width=640,height=300')"><img src="/assets/twitterMobile.png"></a>
            <a href="https://plus.google.com/share?url=www.travelpoker.co&media=https://lh6.googleusercontent.com/-zhmCkumDcYM/UoUnpfq7YvI/AAAAAAAABPk/VZbRePfm6rk/w190-h90-no/logo.png" target="_blank" onclick="return !window.open(this.href, 'Google+', 'width=640,height=300')"><img src="/assets/gplusMobile.png"></a>
            <a href="http://pinterest.com/pin/create/button/?url=www.travelpoker.co&media=https://lh6.googleusercontent.com/-zhmCkumDcYM/UoUnpfq7YvI/AAAAAAAABPk/VZbRePfm6rk/w190-h90-no/logo.png&description=Inspired%20Travel" target="_blank" onclick="return !window.open(this.href, 'Pinterest', 'width=640,height=300')"><img src="/assets/pinterestMobile.png"></a>
          </div>
      </div>
      <%= yield :scripts %>
    </footer>