<% unless action_name == 'edit' %>
  <div class="dk_container dk_shown">
    <div class="keep">
      <span class="dk_label">Keep</span>
    </div>
    <div class="keepOptions">
      <ul class="keepOptions_inner">
        <% if current_user %>
          <% current_user.decks.each do |deck| %>
            <li class="">
              <%= link_to "To: #{deck.title}", cards_decks_path(card_id: card.id, deck_id: deck.id), method: :post, method: :post, remote: true, data: { 'dk-dropdown-value' => 0 } %>
            </li>
          <% end %>
        <% else %>
          <li><a href="/decks/new/" data-dk-dropdown-value="1">Log In | Register?</a></li>
        <% end %>
        <li><div class="likes1"><%= render partial: 'likes/like', locals: { likeable: card } %></div></li>
      </ul>
    </div>
  </div>
<% end %>
