 <%
    meta :title => "About - TravelPoker: inspired travel",
         :description => "TravelPoker is designed to inspire travel and discovery thoroughout the world. Travel experiences are put into cards, and collected together, in any arrangement that the user wants, into decks.",
         :keywords => %w(Travel Inspired World sights experiences)
  %>

<div class="text">
    <h1>About TravelPoker</h1>
    <h6>TravelPoker is designed to inspire travel and discovery thoroughout the world. Travel experiences are put into cards, and collected together, in any arrangement that the user wants, into decks.</h6>
    <p>Designed and built by Paddy Estridge as a project to help her learn programming, TravelPoker (and programming) proved to be pretty addictive, and grew into a project that records and arranges travel experiences all over the world</p>
</div>