 <%
    meta :title => "TravelPoker Blog, inspired travel",
         :description => "TravelPoker is designed to inspire travel and discovery thoroughout the world. Travel experiences are put into cards, and collected together, in any arrangement that the user wants, into decks.",
         :keywords => %w(Travel Inspired World sights experiences)
  %>
<div class="text">
  <h1>We don't have a blog yet, but it's coming!</h1>
</div>