 <%
    meta :title => "Contact Us - TravelPoker: Sharing Travel",
         :description => "TravelPoker is designed to inspire travel and discovery thoroughout the world. Travel experiences are put into cards, and collected together, in any arrangement that the user wants, into decks.",
         :keywords => %w(Travel Sharing Inspired World sights experiences)
  %>

<div class="text">
  <h1>Contact Us</h1>
  <p>Please contact us at <a href="paddy@travelpoker.co">paddy@travelpoker.co</a></p>
</div>