 <%
    meta :title => "FAQ - TravelPoker: inspired travel",
         :description => "TravelPoker is designed to inspire travel and discovery thoroughout the world. Travel experiences are put into cards, and collected together, in any arrangement that the user wants, into decks.",
         :keywords => %w(Travel Inspired World sights experiences)
  %>

<div class="text">
  <h1>TravelPoker FAQ</h1>

  <h6>What is TravelPoker?</h6>
  <p>TravelPoker is a site designed to inspire people to travel and try new experiences - at home or abroad. Online travel is sometimes very utilitarian and dry, but that isn't waht travel is about. Travel is about experience, beauty, surprises, fun, and yes, sometimes mess! TravelPoker is intended to add to the fire of adventure, not make you worry if the sheets in a place will be clean.</p>
</div>