 <%
    meta :title => "How TravelPoker Works - TravelPoker: inspired travel",
         :description => "Make a card for a place that you love, and create any combination of decks you like. You can plan your next adventure, make a deck of cards or friends visiting a place that you love, or gather experiences in your home town together - the choice is yours.",
         :keywords => %w(Travel Inspired World sights experiences)
  %>

<div class="text">

  <h1>How TravelPoker Works</h1>

  <h6>Make a card for a place that you love, and create any combination of "decks" you like. You can plan your next adventure, make a deck of cards or friends visiting a place that you love, or gather experiences in your home town together - the choice is yours.</h6>   
  <p></p>
</div>