<div class="centerDiv topSlider fade">
  <div class="searchIn">
    <input type="text" placeholder="Be Inspired for Your Trip!!">
    <a href="#" class="button">Deal</a>
  </div>      
</div>
<div class="pic">
  <img src="assets/homepage1.png" />
</div>
<div class="topDeck">
    <img src="assets/pokerc.png">
    <%= render @cards %>
    <%= will_paginate @cards %>
</div>
<div class="topDeck">
    <img src="assets/poker.png">
    <%= render @decks %>
    <%= will_paginate @decks %>
</div>
    