<h3>Sign in</h3>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.email_field :email, class: "inputAll", placeholder: "Email or Username" %>
    <%= f.password_field :password, class: "inputAll", placeholder: "Password" %>
    <%= f.submit "Sign In", class: "btn btnAll" %>
  <div class="signInMeta">
    <a href="#"><img src="/assets/facebookLog.png"/></a>
    <a href="#"><img src="/assets/gmailLog.png"/></a>
  </div>
<% end %>