<% unless action_name == 'edit' %>
  <div class="dk_container span3 dk_shown dk_theme_default" id="dk_container_herolist" tabindex="1">
    <div class="dk_toggle" id="keep">
      <span class="dk_label">Share</span>
    </div>
    <div class="dk_options">
      <ul class="dk_options_inner">
        <li class="social">
          <a href="#"><img src="/assets/twitter.png"></a>
          <a href="#"><img src="/assets/facebook.png"></a>
          <a href="#"><img src="/assets/pinterest.png"></a>
          <a href="#"><img src="/assets/rss.png"></a>
        </li>
      </ul>
    </div>
  </div>
<% end %>