.btn-large .icon-caret-down {
    margin-left: 8px;
}
.input-contrast {
    border: solid 1px #888;
}
.input-large {
    font-size: 15px;
    padding: 10px 12px 11px 12px;
    border-radius: 2px;
}
.form-inline .input-wrapper {
    margin-right: 4px;
    position: relative;
    float: left;
}
.custom-select-container {
    position: relative;
}
.custom-select-container select {
    bottom: 0;
    height: 100%;
    left: 0;
    min-width: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    right: 0;
    top: 0;
    -webkit-appearance: none;
    width: auto;
}
#hero {
    z-index: 1;
    position: relative;
    height: 500px;
    display: none;
    box-shadow: 0 1px 1px white;
}
#hero h1, #hero h2, #hero a {
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
}
#slideshow {
    margin: 0;
}
#slideshow li {
    position: absolute;
    z-index: 80;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
#slideshow li>img {
    position: relative;
    left: 50%;
    margin-left: -800px;
}
#slideshow li.next {
    z-index: 90;
}
#slideshow li.active {
    display: block;
    z-index: 100;
}
#slideshow li.active:before, #slideshow li.next:before {
    z-index: 101;
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.35);
}
#slideshow .caption {
    z-index: 102;
    position: absolute;
    display: none;
    width: auto;
    bottom: 0;
    right: 0;
    padding: 50px 25px 20px 80px;
    text-align: right;
}
#slideshow .caption .container {
    left: 50%;
    margin-left: -496px;
    width: 995px;
}
#slideshow .caption .media-photo {
    margin-left: 15px;
    margin-top: 5px;
}
#slideshow .caption p {
    float: right;
    font-size: 15px;
    margin-top: 3px;
    color: #d8d8d8;
}
#slideshow .caption strong {
    font-weight: bold;
    color: #fff;
}
#slideshow .caption a {
    color: inherit;
}
#slideshow .caption:hover p {
    text-decoration: underline;
}
#slideshow .caption .wish_list_button {
    float: left;
    margin: 3px 10px 0 0;
}
#slideshow .caption .wish_list_button {
    display: none;
}
#controls {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%}
#controls .arrow {
    cursor: pointer;
    opacity: 0.7;
    position: absolute;
    display: block;
    z-index: 200;
    top: 252px;
    right: 10px;
    width: 42px;
    height: 75px;
    background: url(https://a0.muscache.com/airbnb/static/landing_pages/home_v2/homepage-sprite-54617e9d9dbd7f5e375a5667bb7a393f.png) -65px -180px no-repeat;
}
#controls .arrow.left {
    background-position: -25px -180px;
    left: 10px;
}
#controls .arrow.no-arrows {
    background-image: none;
}
#controls .arrow:hover {
    opacity: 1;
}
#controls .arrow:active {
    opacity: 0.85;
}
@-webkit-keyframes slideleft {
    0% {
    margin-left: -790px;
}
100% {
    margin-left: -800px;
}
}@-webkit-keyframes slideright {
    0% {
    margin-left: -810px;
}
100% {
    margin-left: -800px;
}
}@-moz-keyframes slideleft {
    0% {
    margin-left: -790px;
}
100% {
    margin-left: -800px;
}
}@-moz-keyframes slideright {
    0% {
    margin-left: -810px;
}
100% {
    margin-left: -800px;
}
}#slideshow li.next>img {
    -webkit-animation: slideleft 800ms 1 ease-out;
    -moz-animation: slideleft 800ms 1 ease-out;
}
#slideshow li.next.right>img {
    -webkit-animation: slideright 800ms 1 ease-out;
    -moz-animation: slideright 800ms 1 ease-out;
}
#blob-bg {
    display: none;
    width: 600px;
    height: 180px;
    position: absolute;
    left: 50%;
    margin-left: -510px;
    margin-top: -25px;
    background: url(https://a0.muscache.com/airbnb/static/landing_pages/home_v2/homepage-sprite-54617e9d9dbd7f5e375a5667bb7a393f.png) 0px 0px no-repeat;
    z-index: -1;
}
.custom.selector, .search-area-icon {
    background: url(https://a0.muscache.com/airbnb/static/landing_pages/home_v2/homepage-sprite-54617e9d9dbd7f5e375a5667bb7a393f.png) 1px -178px no-repeat;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 50%;
    margin-top: -10px;
    width: 24px;
    height: 20px;
}
#enter_location_error_message {
    position: absolute;
    top: 50px;
    left: 6px;
    width: 356px;
    background: rgba(255, 255, 255, 0.8);
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    padding: 5px 8px;
}
.search-area-icon-checkout {
    background-position: 1px -198px;
}
.custom.selector {
    background-position: 1px -218px;
}
.search-area {
    height: 100%;
    z-index: 160;
    position: absolute;
    top: 0;
    height: 300px;
    width: 100%;
    padding-top: 140px;
}
.search-area .checkin, .search-area .checkout {
    width: 110px;
}
.search-area h1, .search-area h2 {
    color: #fff;
    line-height: 1.1;
}
.search-area h1 {
    font-size: 48px;
    margin-bottom: 0;
}
.search-area h2 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0;
}
.search-area form {
    background: rgba(57, 60, 61, 0.8);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 4px;
    line-height: 1.2;
    float: left;
}
#location {
    width: 290px;
}
.pac-container .pac-item {
    font-size: 17px;
}
#home-loading-indicator {
    margin: 60px 0 25px;
    text-align: center;
}
.city-tiles {
    overflow: hidden;
    margin-right: -25px;
}
.city-tiles li {
    position: relative;
    height: 165px;
    width: 315px;
    overflow: hidden;
    float: left;
    margin: 0 25px 25px 0;
}
.city-tiles li .city-tile {
    position: absolute;
    top: 0;
    width: 315px;
}
.city-tiles li a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-align: center;
}
.city-tiles li a h4 {
    font-size: 29px;
    color: #fff;
    padding-top: 70px;
    line-height: 1.2;
    margin: 0;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
.city-tiles li a span {
    display: none;
    font-size: 17px;
}
.city-tiles li a:hover {
    background: rgba(0, 0, 0, 0.3);
}
.city-tiles li a:hover span {
    display: block;
}
.city-tiles li .label {
    position: absolute;
    top: 5px;
    left: 5px;
}
.city-tile {
    background: url(https://a1.muscache.com/airbnb/static/landing_pages/home_v2/tiles/sprite-db8018194b341aeea6e3c357d347694e.jpg) no-repeat;
    display: block;
    width: 315px;
    height: 165px;
}
.city-tile-ny {
    background-position: -0px 0;
}
.city-tile-berlin {
    background-position: -315px 0;
}
.city-tile-dc {
    background-position: -630px 0;
}
.city-tile-london {
    background-position: -945px 0;
}
.city-tile-paris {
    background-position: -1260px 0;
}
.city-tile-sf {
    background-position: -1575px 0;
}
.city-tile-sydney {
    background-position: -1890px 0;
}
.city-tile-tokyo {
    background-position: -2205px 0;
}
