.comments {
  min-height:300px;
  position:relative;
}

.comment {
  min-height: 40px;
  width:500px;
}

.commentButton {
  height:50px;
  margin-left:455px;
  line-height: 30px;
  padding-bottom:20px;
  padding-top:10px;
}

.vote {
  float:left;
  height:60px;
  width:20px;
  text-align:center;
  margin-right:5px;
}

.upChevron {
  margin-left:2px;
  height:15px;
  width:15px;
  background:url('upChevron.png')no-repeat;
  display:block;
}

.downChevron {
  margin-left:3px;
  height:15px;
  width:15px;
  background:url('downChevron.png');
  display:block;
}