.comments {
  min-height:300px;
  position:relative;
}

.comment {
  min-height: 40px;
  width:500px;
}

.commentButton {
  height:50px;
  margin-left:455px;
  line-height: 30px;
  padding-bottom:20px;
  padding-top:10px;
}

.vote {
  float:left;
  height:60px;
  width:15px;
}

.upChevron {
  height:25px;
  width:25px;
  background:url('upChevron.png')no-repeat;
}

.downChevron {
  background:url('downChevron.png');
}