.comment {
  width:610px;
  padding:4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.comment h7 {
  font-weight:bold;
  font-family:"Opal";
  font-size:17px;
  min-width:400px;
}

.comment h8 {
  font-size:10px;
}
.comment:hover {
  background: #E0EAFF;
}

.comment p {
  font-size:13px;
  margin-left:25px;
}

.commentButton {
  height:50px;
  margin-left:455px;
  line-height: 30px;
  padding-bottom:20px;
  padding-top:10px;
}

.vote {
  float:left;
  width:20px;
  text-align:center;
  margin-right:5px;
}



.upChevron {
  margin-left:2px;
  height:15px;
  width:15px;
  background:url('upChevron.png')no-repeat;
  display:block;
}

.upChevron:hover {
  background:url('upChevron.png')no-repeat;
}

.downChevron {
  margin-left:3px;
  height:15px;
  width:15px;
  background:url('downChevron.png');
  display:block;
}

.downChevron:hover {
   background:url('downChevron.png');
}

.editable {
  border:2px dashed #dce4ec;
   -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.editable h9 {
  font-size:10px;
  float:right;
  margin-top:-28px;
  margin-right:5px;

}