.form {
  width:900px;
  margin:auto;
  font-family: "Opal";
  font-size: 25px !important;
  padding-top:20px;
}

.formLinks {
  text-align:right;
  margin-right:125px;
  padding-bottom:20px;
  font-family:"Opal";
}

.formLinksSmall {
  margin-left:223px;
  text-align:left;
  font-family:"Opal"!important;
}

.formlabel {
  float:left;
  width:170px;
}

.formlabelreq {
  margin: 0 0 0 12px;
  width:155px;
  float:left;
}

.req {
  position:absolute;
}

.pinput textarea {
  width: 610px;
  resize: none;
  margin-bottom:10px;
}

.tinput input {
  width: 610px;
}

.tiinput input {
  width: 432px;
  float:left;
}

.iinputtext {
  font-family: "Opal";
  font-size:13px;
  float:left;
  width: 180px;
}

.cbutton {
  height:50px;
  margin-left:605px;
  line-height: 30px;
  padding-bottom:20px;
  padding-top:10px;
}

.categories {
  width:630px;
  padding-left:160px;
  margin-bottom:50px;
}

.categories button {
  border:none;
  background:#ffffff;
}

.categories img {
  width:50px;
  height:50px;
}

input[type="radio"] {
    display:none;
    height:20px;
    width:20px;
}

.check {
  border: 2px solid #2f8dc9!important;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.categories img {
 border: 2px solid #ffffff;
 padding: 1px;
}

.categories img:hover {
  border: 2px solid #2f8dc9;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  
}

.checkSeason {
  border: 2px solid #2f8dc9!important;
  -webkit-border-radius: 5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.seasons img {
 border: 2px solid #ffffff;
}

.seasons img:hover {
  border: 2px solid #2f8dc9;
  -webkit-border-radius: 5px;
  -moz-border-radius:5px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  
}


.ui-tooltip {
  position: absolute;
  text-align: center;
  font-size: 11px;
  font-family:"Opal";
  font-weight: bold;
  top: -10px;
  padding: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #2980B9 !important;
  border-color: #2980B9 !important;
  color: white;
  z-index:1000;
}


.ui-tooltip:before {
  content: "";
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #2980B9 transparent;
  height: 0px;
  position: absolute;
  right: 10px;
  top: -10px;
  width: 0px;
  -webkit-transform: rotate(360deg);
}