.form {
  width:900px;
  margin:auto;
  font-family: "Opal";
  font-size: 25px !important;
  padding-top:20px;
}

.formLinks {
  text-align:right;
  margin-right:125px;
  padding-bottom:20px;
  font-family:"Opal";
}

.formLinksSmall {
margin-left:223px;
  text-align:left;
  font-family:"Opal"!important;
}

.formlabel {
  float:left;
  width:170px;
}

.pinput textarea {
  width: 610px;
  resize: none;
  margin-bottom:10px;
}

.tinput input {
  width: 610px;
}

.iinputtext {
  font-family: "Opal";
  font-size:18px;
  padding-left:150px;
}

.cbutton {
  height:50px;
  margin-left:605px;
  line-height: 30px;
  padding-bottom:20px;
  padding-top:10px;
}

.categories {
  width:630px;
  padding-left:160px;
  margin-bottom:50px;
}

.categories button {
  border:none;
  background:#ffffff;
}

.categories img {
  width:50px;
  height:50px;
}

input[type="radio"] {
    display:inline-block;
    height:20px;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;     /* not currently supported */
    -o-appearance: checkbox; 
    width:20px;
}


.ui-tooltip {
  position: absolute;
  text-align: center;
  font-size: 11px;
  font-family:"Opal";
  font-weight: bold;
  top: -10px;
  padding: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #2980B9 !important;
  border-color: #2980B9 !important;
  color: white;
  z-index:1000;
}


.ui-tooltip:before {
  content: "";
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #2980B9 transparent;
  height: 0px;
  position: absolute;
  right: 10px;
  top: -10px;
  width: 0px;
  -webkit-transform: rotate(360deg);
}