.form {
  width:900px;
  margin:auto;
  font-family: "Opal";
  font-size: 25px !important;
  padding-top:20px;
}

.formLinks {
  text-align:right;
  margin-right:125px;
  padding-bottom:20px;
  font-family:"Opal";
}

.formLinksSmall {
  text-align:right;
  margin-right:118px;
  font-family:"Opal";
}

.linkSmall {
  font-family: "Opal";
  float:right;
}

.formlabel {
  float:left;
  width:150px;
}

.pinput textarea {
  width: 610px;
  resize: none;
  margin-bottom:10px;
}

.tinput input {
  width: 610px;
}

.iinputtext {
  font-family: "Opal";
  font-size:18px;
  padding-left:150px;
}

.cbutton {
  height:50px;
  margin-left:605px;
  line-height: 30px;
  padding-bottom:20px;
  padding-top:10px;
}