.form {
  width:900px;
  margin:auto;
  font-family: "Opal";
  font-size: 25px !important;
  padding-top:20px;
}

.formLinks {
  text-align:right;
  margin-right:125px;
  padding-bottom:20px;
  font-family:"Opal";
}

.formLinksSmall {
margin-left:223px;
  text-align:left;
  font-family:"Opal"!important;
}

.formlabel {
  float:left;
  width:150px;
}

.pinput textarea {
  width: 610px;
  resize: none;
  margin-bottom:10px;
}

.tinput input {
  width: 610px;
}

.iinputtext {
  font-family: "Opal";
  font-size:18px;
  padding-left:150px;
}

.cbutton {
  height:50px;
  margin-left:605px;
  line-height: 30px;
  padding-bottom:20px;
  padding-top:10px;
}

.categories {
  width:630px;
  padding-left:160px;
  margin-bottom:50px;
}

.categories button {
  border:none;
  background:#ffffff;
}

.categories img {
  width:50px;
  height:50px;
}

input[type="radio"] {
    display:inline-block;
    height:20px;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;     /* not currently supported */
    -o-appearance: checkbox; 
    width:20px;
}