.like {
  float:left;
}

.likes {
  position:absolute;
  margin-top:12px;
  margin-left:9px;
  color:white;
  font-weight:bold;
  font-size:10px;
}

.likes1 {
  margin-left:10px;
}

.likes2 {
  float:left;
}

.pokerLike {
  background:url('grey_heart.png') no-repeat;
  width:30px;
  height:30px;
  float:left;
  margin-top:8px;
}

.pokerLike:hover {
  background:url('red_heart.png') no-repeat;
  width:30px;
  height:30px;
  float:left;
  margin-top:8px;
}

.pokerLiked {
  background:url('red_heart.png') no-repeat;
  width:30px;
  height:30px;
  float:left;
  margin-top:8px;
}

.done {
  background:url('grey_spade.png') no-repeat;
  width:30px;
  height:30px;
  float:left;
  margin-top:8px;
}

.done:hover {
  background:url('black_spade.png') no-repeat;
  width:30px;
  height:30px;
  float:left;
  margin-top:8px;
}