.allMobile {
 max-width:100%;
 }

 .allMobile p,  .allMobile a {
  font-size:15px;
  margin-left:20px;
 }

.allMobile .login a {
  font-size:25px;
  margin-left:20px;
 }

 .centerDivMobile {
   width:90%;
   margin:auto;
 }

.mobileHeader {
  background: #242625 url("bg_all.png")!important;
  top:-27px;
  width:100%;
  height: 250px;
  border-bottom: 2px solid #0d0d0d;
  background-image: url("grid-bg.gif");
  
}

.logoMobile {
  background: url('tp.png') no-repeat;
  margin: 60px 20px 0 20px;
  width: 150px;
  height:200px;
  position:absolute;
}

.searchHeadMobile { 
  width: 640px;
  position: absolute;
  top: 150px;
  left: 200px;
}

.searchHeadMobile input {
  width:450px;
  height:40px;
  font-size:30px;
}

.searchHeadMobile button {
  height:60px;
  width: 130px;
  font-size:30px !important;
}

.mobile .tab {
  top: 0;
}

.mobile .tab ul.login {
  line-height: 42px;
  font-size: 200%;
}

.mobile .tab a.open, .mobile .tab a.close {
  height:50px;
  width: 260px;
  color:white !important;
  padding-left:70px !important;
}

.mobile .tab a:hover.open {
  background: url(bt_openMobile.png) no-repeat left -48px;
}

.mobile .tab a.open {
  background: url(bt_openMobile.png) no-repeat left 0px;
}

.mobile .tab a:hover.close {
background: url(bt_closeMobile.png) no-repeat left -48px;
}

.mobile .tab a.close {
background: url(bt_closeMobile.png) no-repeat left 0px;
}

.topColMobile {
  width:90%;
  margin:auto;
  padding-top:5px;
}

.inputAllMobile {
  width: 350px;
  height: 40px;
  font-size:30px !important;
  margin-top: -4px;
  float: left;
  margin: 9px;
  margin-top: -2px;
}

.allMobile .btn {
  height:60px;
  width: 130px;
  font-size:30px !important;
  
}

.allMobile .formLinksSmallMobile { 
  float:left;
  font-family: "Opal" !important;
  display: inline-block;
}

.allMobile input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin-right:15px;
  margin-left:10px;
}

.topColMobile p, .topColMobile label, .topColMobile a {
  font-size:30px;
  margin-right:40px;
}

.signInMetaMobile {
  top: 12px;
  margin-left: 150px;
  position: absolute;
}

.deckMobile {
  width:100%;
  margin-top: -60px;
}

.deckMobile img {
  width: 100%;
  margin: auto;
  margin: 10px 0;
}

.deckInfoMobile{
  background:#2980B9;
  position: relative;
  color: #fff;
  height: 150px;
  top: -60px;
  width:100%;
}

.deckInfoMobile:before{
  content: "";
  border-style: solid;
  border-width: 0 40px 40px 40px;
  border-color: transparent transparent #2980B9 transparent;
  height: 0px;
  position: absolute;
  right: 40px;
  top: -38px;
  width: 0px;
  -webkit-transform: rotate(360deg);
}

.deckInfoMobile h2, .tripInfoMobile h2 {
  font-size:4em;
  padding: 0 20px;
  margin:0;
  font-weight: normal;
}

.tripInfoMobile{
  background:#2980B9;
  color: #fff;
  height: 150px;
  margin-top: 560px;
  position:absolute;
  width:100%;
}

.tripInfoMobile:before{
  content: "";
  border-style: solid;
  border-width: 0 40px 40px 40px;
  border-color: transparent transparent #2980B9 transparent;
  height: 0px;
  position: absolute;
  right: 40px;
  top: -40px;
  width: 0px;
  -webkit-transform: rotate(360deg);
}

.deckDescriptionMobile {
  width:97%;
  padding: 700px 20px 20px 20px;
  border-bottom: 1px solid #2980B9;
}

.deckDescriptionMobile p {
  font-size:3em;
}

.allMobile .trip {
  width: 100%;
  height: 1050px;
  border-top: 1px solid #2980B9;
}

.allMobile .trip img {
  width:80% !important;
  height:850px !important;
  margin-left:-1.5%;
}

.cardInfoMobile{
  background:#2980B9;
  top:850px;
  color: #fff;
  height: 200px;
  position:absolute;
  width:80%;
  margin-left:-1.5%;
  padding-left:10px;
}

.cardInfoMobile:before{
  content: "";
  border-style: solid;
  border-width: 0 40px 40px 40px;
  border-color: transparent transparent #2980B9 transparent;
  height: 0px;
  position: absolute;
  right: 40px;
  top: -40px;
  width: 0px;
  -webkit-transform: rotate(360deg);
}

.cardInfoMobile h4 a  {
  font-size:3em;
  color:white;
  top:50px;
}

.cardInfoMobile p {
  font-size:3em;
  font-family: "Opal";
  margin-top:-30px;
}

.twistCardMobile p, .twistCardMobile a {
  font-size:1em;
}

.allMobile .map {
  width: 750px;
  height: 400px;
}

.twistCardMobile {
  width: 980px !important;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 450;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 1055px;
  float:left;
  margin-top:-1090px;
  margin-left:980px;
  border-top: 1px solid #2980B9;
  border-bottom: 1px solid #2980B9;
  padding-left: 20px;

}

.twistCardMobile {
  -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.animateBack {
  -webkit-transform: translateX(-980px);
  -moz-transform: translateX(-980px);
  -o-transform: translateX(-980px);
  -ms-transform: translateX(-980px);
   transform: translateX(-980px);
}

.animateFront {
  -webkit-transform: translateX(-980px);
  -moz-transform: translateX(-980px);
  -o-transform: translateX(-980px);
  -ms-transform: translateX(-980px);
   transform: translateX(-980px);
}

.twistCardMobile h3 {
  font-size:3em !important;
  width:980px;
  font-weight:normal;
}

.twistCardMobile h4 {
  font-size: 2.2em;
  padding-left: 10px;
  max-width:850px;
}

.allMobile .backInfoMobile p, .allMobile .backInfoMobile a {
  width: 920px;
  max-width:100%;
  margin-left:1%;
  font-size:1em;
  white-space: pre-wrap;
}

.categoryMobile, .seasonMobile {
  width: 200px;
  float:left;
  font-size:1.1em;
  text-align:center;
}

.allMobile .categoryMobile img, .allMobile .seasonMobile img {
  height:100px !important;
  width: 100px !important;
  margin-top: -50px;
}

.allMobile .tripInfoBack h3 {
  font-size:3em;
}

.allMobile .tripInfoBack {
  height:120px;
}

.cardBackMobile p {
  font-size:2em;
  width:950px;
  white-space: pre-wrap;
}

.cardBackMobile h4 {
  font-size:3em;
}

.footColMobile {
  width:270px;
  position: relative;
  margin-top: 25px;
  float: left;
  margin-left: 20px;
}

.footColMobile btn {
  width:280px;
}
.footLogoMobile {
  background: url("logoFHMobile.png") no-repeat;
  min-height: 116px;
  display: block;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.footerSocialMobile {
  position: relative;
  float: right;
  width: 300px;
  height: 40px;
  margin-top: -15px;
}

.advertMoblie {
  width:100%;
  text-align:center;
}
