.seasons {
 width:610px;
 padding-left:170px;
}

.seasons button {
  border:none;
  background:#ffffff;
  margin-bottom:10px;
}

.seasons img {
  height:40px;
  width:40px;
}

.seasons h1 {
 color: white;
 font-size: 30px;
 text-align:center;
 }

.all img {
  width:90px;
  display:inline-block;
}

