.seasons h1 {
 color: white;
 font-size: 30px;
 text-align:center;
 padding-top:15px;
 }

 .jan {
  height:100px;
  width:100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #4E4C71;
  margin: 20px;
  border:2px solid #A873C1;
}

.feb {
  height:100px;
  width:100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #9048A4;
  margin: 20px;
  border:2px solid #4E4C71;
}

.mar {
  height:100px;
  width:100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #1BBC9B;
  margin: 20px;
  border:2px solid #238076;
}

.apr {
  height:100px;
  width:100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #A873C1;
  margin: 20px;
  border:2px solid #9048A4;
}

.may {
  height:100px;
  width:100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #8E3433;
  margin: 20px;
  border:2px solid #E34D3C;
}

.jun {
  height:100px;
  width:100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #F1C40F;
  margin: 20px;
  border:2px solid #EC7A21;
}

.jul {
  height:100px;
  width:100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #D03835;
  margin: 20px;
  border:2px solid #F5C018;
}

.aug {
  height:100px;
  width:100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #F5C018;
  margin: 20px;
  border:2px solid #EC7A21;
}

.sep {
  height:100px;
  width:100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #EC7A21;
  margin: 20px;
  border:2px solid #F5C018;
}

.oct {
  height:100px;
  width:100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #E34D3C;
  margin: 20px;
  border:2px solid #8E3433;
}

.nov {
  height:100px;
  width:100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #238076;
  margin: 20px;
  border:2px solid #1BBC9B;
}

.dec {
  height:100px;
  width:100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #438EB8;
  margin: 20px;
  border:2px solid #1E3F50;
}
