.tripBack {
  width:1020px;
  margin: auto;
}

.tripBack img {
  width:500px;
  height:300px;
  display:inline-block;
}

.deckBack {
  width:1003px;
  height:370px;
  margin: auto;
  margin-bottom:10px;
  -moz-box-shadow: 5px 5px rgb(110, 110, 110);
  -webkit-box-shadow: 5px 5px rgb(110, 110, 110);
  box-shadow: 5px 5px rgb(110, 110, 110);
}

.deckBack img {
  width:500px;
  height:300px;
  display:inline-block;
}

.tripInfoBack{
  background:#2980B9;
  position: relative;
  color: #fff;
  height: 70px;
  top: -10px;
  width:1002px;
}

.tripInfoBack:before{
  content: "";
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #2980B9 transparent;
  height: 0px;
  position: absolute;
  right: 20px;
  top: -20px;
  width: 0px;
  -webkit-transform: rotate(360deg);
}

.tripInfoBack h3 {
  margin-top: 5px;
  margin-left: 5px;
}

.ad {
  float:right;
  border: 1px solid black;
  margin-right: 20px;
  margin-bottom:20px;
}

.backInfo h3 {
  font-family: "Opal";
  padding-top:10px;
}

.backInfo p {
  width:580px;
  white-space:pre-wrap;
  min-height:50px;
}

.dk_options_1{width:200px !important; }

.dk_options_1:before{left:15px !important;}

.dk_options_1 {
  padding-top: 14px; }
  .dk_options_1:before {
    content: "";
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #242625 transparent;
    height: 0px;
    position: absolute;
    top: 5px;
    width: 0px;
    -webkit-transform: rotate(360deg); }
  .dk_options_1:before {
    left: auto;
    right: 12px; }
  .dk_options_1 li {
    padding-bottom: 3px; }
  .dk_options_1 a {
    border-radius: 3px;
    color: white;
    display: block;
    padding: 4px 4px;
    text-decoration: none; }
    .dk_options_1 a:hover {
      background-color: #3498DB; }

.dk_option_current a {
  background-color: #3498DB; }

.dk_options_inner {
  background-color: #242625;
  border-radius: 5px;
  margin: 0;
  max-height: 244px;
  padding: 3px 3px 0; }

.edit a {
  position:absolute;
  background: #242625 !important;
  font-size: 10px;
  font-weight:bold;
  text-transform: uppercase;
  text-align:center !important;
  width: 55px;
  padding-top:5px;
  height:20px;
  color: white;
  border-radius: 3px !important;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
}

.social a{
  float:left; 
}

.social img{
  width: 20px;
  height: 20px;
}

.deckCards {
  width: 1200px;
  margin:auto;
}
.memberOnly {
  float:left;
  }

.tags {
  height:300px;
  float:right;
}
.tags img{
  width:50px;
  height:50px;
  float:left;
  padding-left:50px;
}

.category {
  width:160px;
  height:120px;
  text-align:center;
  
}

.season {
  width:160px;
  height:120px;
  text-align:center; 
}

.deckComs {
  width:660px;
  padding-left: 50px;
  float:right;
  margin-top: -120px;
  margin-right: 10px;
  display:inline-block;
}

.cardComs {
  width: 300px;
  padding-left: 520px;
  margin-top: -120px;
  margin-right: 10px;
  display: inline-block;
  position: absolute;
}

.twistCard {
  position:absolute;
  width:1050px;
  height:500px;
  background: #ffffff;
  border:1px solid #242625;
  margin-left:100px;
  overflow-y: scroll;
}

.twistAd {
  height:100px;
  text-align:center;
}
