.tripBack {
  width:1020px;
  margin: auto;
}

.tripBack img {
  width:500px;
  height:300px;
  display:inline-block;
}

.deckBack {
  width:1003px;
  height:370px;
  margin: auto;
  margin-bottom:10px;
  -moz-box-shadow: 5px 5px rgb(110, 110, 110);
  -webkit-box-shadow: 5px 5px rgb(110, 110, 110);
  box-shadow: 5px 5px rgb(110, 110, 110);
}

.deckBack img {
  width:500px;
  height:300px;
  display:inline-block;
}

.tripInfoBack{
  background:#2980B9;
  position: relative;
  color: #fff;
  height: 70px;
  top: -10px;
  width:1002px;
}

.tripInfoBack:before{
  content: "";
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #2980B9 transparent;
  height: 0px;
  position: absolute;
  right: 20px;
  top: -20px;
  width: 0px;
  -webkit-transform: rotate(360deg);
}

.tripInfoBack h3 {
  margin-top: 5px;
  margin-left: 5px;
}

.ad {
  float:right;
  border: 1px solid black;
  margin-right: 20px;
  margin-bottom:20px;
}

.backInfo h3 {
  font-family: "Opal";
  padding-top:10px;
}

.backInfo p {
  width:580px;
  white-space:pre-wrap;
}

.deckDescription p {
  width: 900px;
  padding:10px;
  margin:auto;
  white-space:pre-wrap;
}

.editDelete {
  background-color: #1abc9c;
  color: white;
  border-radius: 6px;
  overflow: hidden;
  padding: 11px 45px 11px 13px;
  text-decoration: none !important;
  white-space: nowrap;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; 
  }
  .editDelete:hover, .keep:focus, .dk_focus .keep {
    background-color: #2fe2bf;
    color: white;
    outline: none; 
    }
  .editDelete:active {
    background-color: #16a085;
    outline: none; }
    .editDelete:active .select-icon {
      border-left-color: transparent; }

.editDelete {
  padding: 3px 6px 3px 6px  !important;
  text-align:center !important;
  background: #242625 !important;
  border-radius: 3px !important;
  text-transform: uppercase; 
  font-size: 10px;
  left:-30px;
  bottom:-10px;
  float:left;
  margin-left:5px;
}

.editDelete {
  display: block;
  position: relative; }

.dk_option_current a {
  background-color: #3498DB; }

.dk_options_inner {
  background-color: #242625;
  border-radius: 5px;
  margin: 0;
  max-height: 244px;
  padding: 3px 3px 0; }

.edit a {
  position:absolute;
  background: #242625 !important;
  font-size: 10px;
  font-weight:bold;
  text-transform: uppercase;
  text-align:center !important;
  width: 55px;
  padding-top:5px;
  height:20px;
  color: white;
  border-radius: 3px !important;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
}

.social a{
  float:left; 
}

.social img{
  width: 20px;
  height: 20px;
}

.deckCards {
  width: 1200px;
  margin:auto;
}
.memberOnly {
  float:left;
  }

.tags {
  height:300px;
  float:right;
}
.tags img{
  width:50px;
  height:50px;
  float:left;
  padding-left:50px;
}

.category {
  width:160px;
  height:120px;
  text-align:center;
  
}

.season {
  width:160px;
  height:120px;
  text-align:center; 
}

.deckComs {
  width: 400px;
  padding-left: 230px;
  margin-right: 10px;
  display: inline-block;
}

.cardComs {
  width: 400px;
  padding-left: 0px;
  margin-right: 10px;
  display: inline-block;
}

.advert {
  height:100px;
  width:700px;
  padding:50px;
}


