.tripBack {
  width:1020px;
  margin: auto;

}

.tripBack img {
  width:500px;
  height:300px;
  display:inline-block;
}

.tripInfoBack{
  background:#2980B9;
  position: relative;
  color: #fff;
  height: 70px;
  top: -10px;
  width:1002px;
  margin-bottom:15px;
}

.tripInfoBack:before{
  content: "";
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #2980B9 transparent;
  height: 0px;
  position: absolute;
  right: 20px;
  top: -20px;
  width: 0px;
  -webkit-transform: rotate(360deg);
}

.tripInfoBack h3 {
  margin-top: 5px;
  margin-left: 5px;
}

.ad {
  float:right;
  border: 1px solid black;
  margin-right: 20px;
  margin-bottom:20px;
}

.backInfo h3 {
  font-family: "Opal";

}

.backInfo p {
  width:600px;
  white-space:pre-wrap;
  min-height:50px;
}

#keep1 {
  display: inline-block;
  float:left;
  background: #242625 !important;
  font-size: 18px;
  text-transform: uppercase;
  text-align:center !important;
  width: 100px;
  color: white;
  border-radius: 3px !important;
  overflow: hidden;
  padding: 8px 10px 8px 10px  !important;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; 
  margin-right:10px;
  }
  #keep1:hover, #keep1:focus, .dk_focus #keep1 {
    background-color: #2fe2bf;
    color: white;
    outline: none; }
  #keep1:active {
    background-color: #16a085;
    outline: none; }
    #keep1:active .select-icon {
      border-left-color: transparent; }

.dk_options_1{width:200px !important; }

.dk_options_1:before{left:15px !important;}

.dk_options_1 {
  padding-top: 14px; }
  .dk_options_1:before {
    content: "";
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #242625 transparent;
    height: 0px;
    position: absolute;
    top: 5px;
    width: 0px;
    -webkit-transform: rotate(360deg); }
  .dk_options_1:before {
    left: auto;
    right: 12px; }
  .dk_options_1 li {
    padding-bottom: 3px; }
  .dk_options_1 a {
    border-radius: 3px;
    color: white;
    display: block;
    padding: 4px 4px;
    text-decoration: none; }
    .dk_options_1 a:hover {
      background-color: #3498DB; }

.dk_option_current a {
  background-color: #3498DB; }

.dk_options_inner {
  background-color: #242625;
  border-radius: 5px;
  margin: 0;
  max-height: 244px;
  padding: 3px 3px 0; }


.social_1 a{
  float:left; 
}

.social_1 img{
  width: 20px;
  height: 20px;
}

.deckCards {
  width: 1200px;
  margin:auto;
}
.memberOnly {
  height:50px;
  }

.memberOnlyDeck {
  height:50px;
  margin-left:35px;
  }


.tags img{
  width:50px;
  height:50px;
  float:left;
}

.deck_back {
  width:1200px;
  margin:auto;
  padding-left: 50px;
}

