.sliderContainer {height: 545px;background: #242625  url('bg_all.png')-27px -13px !important;min-width:100%;background-image:url('grid-bg.gif');}
#slider-code .viewport { margin:auto; width: 1399px; height: 545px; overflow: hidden; position: relative; left: -25px;}
#slider-code .buttons { display: block; margin: 0 0 0 0; float: left; }
#slider-code .next { margin: 0 0 0 0;  }
#slider-code .disable { visibility: hidden; }
#slider-code .overview { list-style: none; position: absolute; margin: auto; left: 0px; top: 0; }
#slider-code .overview li{ float: left; margin: auto; padding-right: 50px; height: 545px; width: 1399px;}
                 

