.twistCardBack {
  position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 1500px; 
    background: rgba(36, 38, 37, 0.7);
    z-index: 400;
}

.twistCenter {
  width:998px;
  margin:auto;
}

.twistCard {
  top:120px;
  position:absolute;
  width:952px!important;
  padding-left:50px;
  background: #ffffff;
  border:1px solid #242625;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 450;
   border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.twistAd {
  height:100px;
  text-align:center;
}

.back {
}

.hide {
  display: none;
}

.map {
  float:left;
  width: 450px;
  height: 300px;
}

.image img {
  width: 450px;
  height: 300px;
}

.tripInfoBackTwist:before{
  content: "";
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #2980B9 transparent;
  height: 0px;
  position: absolute;
  right: 20px;
  top: -20px;
  width: 0px;
  -webkit-transform: rotate(360deg);
}


.tripInfoBackTwist{
  background:#2980B9;
  position: relative;
  color: #fff;
  height: 50px;
  top: -25px;
  width:902px;
}

.tripBackTwist .cardComs {
   margin-top: -120px;
   margin-left: -188px;
}

.prev {
  margin-left:-1175px;
  top: 150px; 
  width:100px;
  height:80px;
  z-index:600;
  position:absolute;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.next {
  margin-left:-110px;
  top: 150px; 
  width:100px;
  height:80px;
  z-index:600;
  position:absolute;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.back h3 {
  margin-top:20px;
  margin-bottom: 25px;
  font-size:30px;
}

.back p {
  width:700px;
}

