.topCol h2 {
  font-family:"Opal";
  font-size:20px;
  font-weight:bold;
}

.topCol li {
  font-family:"Opal";
}

.topCol1 {
  width:250px;
  height:100%;
  display:inline-block;
  float:left;
}

.topCol1 p{
  text-align:left;
  font-family:"Opal";
}

.topButton {
  line-height: 30px;
  width:100px;
  font-size:15px;
  font-family:"Opal";
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  width: 170px !important;
  display: block !important;
  text-align: center !important;
  margin:20px;
}

.topCol1 li a {
  -webkit-appearance: none;
  text-decoration: none;
  font-family:"Opal";
  font-size:12px;
  text-align:left;
  padding:-10px;
  float:left;
  color:#2980B9;
  
}

.topCol1 li a:hover {
  color:#ffffff;
  font-weight:bold;
}

.topCol1 li {
  -webkit-appearance: none;
   text-decoration: none;
}

.topCol1 .spade {
  width:10px;
  height:10px;
  float:left;
}

.signInMeta{
  top: 5px;
  position: relative;
  display: block;
  left: 10px;
}
.signInMeta a{
  float:left;
  margin-right: 10px;
}

.signInMeta p {
  width:100px;
  float:left;
  font-family:"Opal";
 margin-top:8px;
}
