<p class="formlabel">Kind of Activity<p>
  <div class="categories">
    <button type="button" title="Food"><img src="/assets/food.png"></button>
    <button type="button" title="Event"><img src="/assets/festival.png"></button>
    <button type="button" title="Shelter"><img src="/assets/home.png"></button>
    <button type="button" title="Drinks and Night Life"><img src="/assets/drink.png"></button>
    <button type="button" title="Sightseeing"><img src="/assets/camera.png"></button>
    <button type="button" title="Shopping"><img src="/assets/shopping.png"></button>
    <button type="button" title="Epic Journeys"><img src="/assets/journey.png"></button>
    <button type="button" title="Entertainment"><img src="/assets/theatre.png"></button>
    <button type="button" title="Sport"><img src="/assets/sport.png"></button>
  </div>