<div class="deck">
  <div class="pokerHover">
    <a href="#">1</a><!-- %=render partial: 'likes/likeable', locals: { deck: deck } -->
  </div>
  <div class="tripMeta">
    <div class="dk_container span3 dk_shown dk_theme_default" id="dk_container_herolist" tabindex="1">
      <a class="dk_toggle" id="keep">
        <span class="dk_label">Keep</span>
      </a>
      <div class="dk_options">
        <ul class="dk_options_inner">
          <li class=""><a data-dk-dropdown-value="0">To: 48 Hours in NY</a></li>
          <li class=""><a data-dk-dropdown-value="1">+ Creat New</a></li>
        </ul>
      </div>
    </div>
    <div class="dk_container span3 dk_shown dk_theme_default" id="dk_container_herolist" tabindex="1">
      <a class="dk_toggle" id="keep">
        <span class="dk_label">Share</span>
      </a>
      <div class="dk_options">
        <ul class="dk_options_inner">
          <li class="social">
            <a href="#"><img src="assets/twitter.png"></a>
            <a href="#"><img src="assets/facebook.png"></a>
            <a href="#"><img src="assets/gplus.png"></a>
            <a href="#"><img src="assets/pinterest.png"></a>
            <a href="#"><img src="assets/rss.png"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%= image_tag (deck.image) %>
  <div class="tripInfo">
    <h4><%= link_to deck.title, deck %></h4>
    <p><%= markdown (deck.location)%></p>
  </div>
</div>
