<% unless action_name == 'edit' %>
  <div class="dk_container dk_shown">
      <div class="share">
        <span class="dk_label">Share</span>
      </div>
      <div class="shareOptions">
        <ul class="shareOptions_inner">
          <li class="social">
            <a href="#"><img src="/assets/twitter.png"></a>
            <a href="#"><img src="/assets/facebook.png"></a>
            <a href="#"><img src="/assets/pinterest.png"></a>
            <a href="#"><img src="/assets/hyperlink.png"></a>
          </li>
        </ul>
      </div>
    </div>
<% end %>