<div class="topDeck">
  <h3>Edit <%= @deck.title %></h3>
</div>
    <%= render partial: 'form', locals: { deck: @deck } %>
<div class="topDeck">
  <h3>Current Cards in Deck</h3>
    <%= render @deck.cards %>
</div>
<div class="topDeck">
  <h3>Add Cards To Deck</h3>
    <%= render @cards %>
</div>



<!-- deck.cards.each |card| do
  img_tag card.season.image
end -->