<div class="topFooter">
      <div class="centerDiv">
        <div class="footCol">
          <h3>Top Destinations</h3>
          <ul>
            <li><a href="/cards/search?utf8=%E2%9C%93&query=new+york&button=">New York</a></li>
            <li><a href="/cards/search?utf8=%E2%9C%93&query=paris&button=">Paris</a></li>
            <li><a href="/cards/search?utf8=%E2%9C%93&query=london&button=">London</a></li>
            <li><a href="/cards/search?utf8=%E2%9C%93&query=rome&button=">Rome</a></li>
          </ul>
        </div>
        <div class="footCol">
          <h3>Travel Poker</h3>
          <ul>
            <li><a href="/how">How it Works</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/blog">Our Blog</a></li>
          </ul>
        </div>
        <div class="footCol">
          <a href="/decks/new" class="btn btn-large btn-block creatDeck">Create a Deck</a>
          <a href="/cards/new" class="btn btn-large btn-block creatDeck">Create a Card</a>
        </div>
        <div class="footColPic">
          <a href="/" class="footLogo"></a>
        </div>
      </div>
    </div>
    <footer>
      <div class="centerDiv">
      <ul class="footMenu">
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/terms">Ts & Cs</a></li>
      </ul>
      <p class="copyrights"> &copy; Copyrights 2013 all copyrights reserved - Travel Poker </p>
        <div class="footerSocial">
          <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.travelpoker.co"><img src="/assets/facebook.png"></a>
          <a href="http://twitter.com/share?url=http%3A%2F%2Fwww.travelpoker.co&text=Inspired%20Travel&media=https://lh6.googleusercontent.com/-zhmCkumDcYM/UoUnpfq7YvI/AAAAAAAABPk/VZbRePfm6rk/w190-h90-no/logo.png"><img src="/assets/twitter.png"></a>
          <a href="https://plus.google.com/share?url=www.travelpoker.co&media=https://lh6.googleusercontent.com/-zhmCkumDcYM/UoUnpfq7YvI/AAAAAAAABPk/VZbRePfm6rk/w190-h90-no/logo.png"><img src="/assets/gplus.png"></a>
          <a href="http://pinterest.com/pin/create/button/?url=www.travelpoker.co&media=https://lh6.googleusercontent.com/-zhmCkumDcYM/UoUnpfq7YvI/AAAAAAAABPk/VZbRePfm6rk/w190-h90-no/logo.png&description=Inspired%20Travel"><img src="/assets/pinterest.png"></a>
        </div>
      </div>
      <%= yield :scripts %>
    </footer>