<div class="topFooter">
      <div class="centerDiv">
        <div class="footCol">
          <h3>Top Destinations</h3>
          <ul>
            <li><a href="#">New York</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">Cairo</a></li>
            <li><a href="#">Roma</a></li>
          </ul>
        </div>
        <div class="footCol">
          <h3>Travel Poker</h3>
          <ul>
            <li><a href="#">How it Works</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="footCol">
          <a href="/decks/new" class="btn btn-large btn-block creatDeck">Create a Deck</a>
          <a href="/cards/new" class="btn btn-large btn-block creatDeck">Create a Card</a>
        </div>
        <div class="footCol">
          <a href="#" class="footLogo"></a>
        </div>
      </div>
    </div>
    <footer>
      <div class="centerDiv">
      <ul class="footMenu">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Ts & Cs</a></li>
      </ul>
      <p class="copyrights"> &copy; Copyrights 2013 all copyrights reserved - Travel Poker </p>
        <div class="footerSocial">
          <a href="#"><img src="/assets/facebook.png"></a>
          <a href="#"><img src="/assets/twitter.png"></a>
          <a href="#"><img src="/assets/gplus.png"></a>
          <a href="#"><img src="/assets/pinterest.png"></a>
        </div>
      </div>
      <%= yield :scripts %>
    </footer>